table {
	width: 100%;
}

table, th, td {
  border: 1px solid rgb(255, 255, 255);
  border-collapse: collapse;
}

table th {
	background-color: #000000;
	border-color: rgb(255, 255, 255);
	padding: 10px;	
}

table td {
	padding: 10px;	
}

table .elu label {
	padding-right: 15px;	
}

.col-presenca {
	width: 200px;
}